<p id="notice"><%= notice %></p>

<h1>Listing Meeting Times</h1>

<table>
  <thead>
    <tr>
      <th>Study group</th>
      <th>Mtime</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @meeting_times.each do |meeting_time| %>
      <tr>
        <td><%= meeting_time.study_group_id %></td>
        <td><%= meeting_time.mtime %></td>
        <td><%= link_to 'Show', meeting_time %></td>
        <td><%= link_to 'Edit', edit_meeting_time_path(meeting_time) %></td>
        <td><%= link_to 'Destroy', meeting_time, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Meeting time', new_meeting_time_path %>
